<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>2018研华科技软件园招聘-校园招聘网站</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <!--
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <script src="js/swiper.min.js"></script>
    <script src="js/swiper.animate.min.js"></script>
    -->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/swiper.min.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{css/home.css}">
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="bookmark" href="../static/images/favicon.ico" />

    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/swiper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/swiper.animate.min.js}"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="swiper-container" id="swiper-container-v">

    <section class="poster_wrap load" id="load">
        <div class="p_loading">
            <div class="p_loading_logo"></div>
            <p class="p_loading_tip">美满人生，即将开启</p>
        </div>
    </section>
    <!--音乐播放-->
    <span id="musicControl">
        <a id="mc_play" class="on" onclick="play_music()">
            <audio id="musicfx" th:attr="src=@{/music/children.mp3}" autoplay preload loop="loop"></audio>
        </a>
    </span>

    <div class="swiper-wrapper">
        <!--slide1-->
        <section class="swiper-slide swiper-slide1">
            <div class="swiper-slide-section1" swiper-animate-effect="myZoomIn1" swiper-animate-duration="0.6s"
                 swiper-animate-delay="0s">
                <div class="logo ani" swiper-animate-effect="zoomInDown" swiper-animate-duration="0.5s"
                     swiper-animate-delay="0.5s">
                    <img th:attr="src=@{/images/wanted.png}">
                </div>
                <div style="text-align:center;padding-top: 8%">
                    <h2 class="index-fontStyle">研华科技2019毕业生</h2>
                    <p>
                        <span style="font-family: 'Blackadder ITC';font-weight:bold;color: #FFC928;font-size: 16px">
                            <br>
                            想在物联网应用最前沿的视野？<br><br>
                            想大显身手拥有专业的职业发展平台？<br><br>
                            想在活泼有爱奋发向上的氛围里开心工作？<br>
                        </span>
                    </p>
                </div>

                <div align=center style="padding-top: 4%">
                    <img style="width: 50%" th:attr="src=@{/images/join.png}">
                </div>
            </div>
            <div style="position:absolute;right:5px;bottom:5px;">
                <img style="position:relative;padding-right:0px;width:140px" th:attr="src=@{/images/bottom.png}">
            </div>

            <div swiper-animate-effect="myZoomIn2" swiper-animate-duration="0.6s"
                 swiper-animate-delay="0s"></div>

        </section>
        <!-- slide2 -->
        <section class="swiper-slide swiper-slide2 swiper-slide-v">

            <div class="swiper-slide-section2" swiper-animate-effect="myZoomIn1" swiper-animate-duration="0.6s"
                 swiper-animate-delay="0s">

            <ul class="company_intro">
                <li class="intro1 ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s"
                    swiper-animate-delay="0s">
                    <img style="width: 150px" th:attr="src=@{/images/block01.png}">
                    <div class="about_us_tit ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s"
                          swiper-animate-delay="0.3s">
                        <i class="about_us_detail_ico"></i>五险一金&nbsp;&nbsp;<i class="about_us_detail_ico"></i>补充商业保险<br>
                        <i class="about_us_detail_ico"></i>带薪休假&nbsp;&nbsp;<i class="about_us_detail_ico"></i>员工定期体检<br>
                        <i class="about_us_detail_ico"></i>福委会丰富活动
                    </div>
                </li>
                <li class="intro2 ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s"
                    swiper-animate-delay="0.1s">
                    <img style="width: 150px" th:attr="src=@{/images/block02.png}">
                    <div class="about_us_tit ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s"
                         swiper-animate-delay="0.3s">
                        <i class="about_us_detail_ico"></i>弱势群体关注<br>
                        <i class="about_us_detail_ico"></i>员工社团活动（乐活\亲子\桌游）<br>
                        <i class="about_us_detail_ico"></i>主题日活动（家庭日\庆生会\尾牙\跨区域旅游）
                    </div>
                </li>
                <li class="intro3 ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s"
                    swiper-animate-delay="0.2s">
                    <img style="width: 150px" th:attr="src=@{/images/block03.png}">
                    <div class="about_us_tit ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s"
                         swiper-animate-delay="0.3s">
                        <i class="about_us_detail_ico"></i>新主管训练营&nbsp;&nbsp;<i class="about_us_detail_ico"></i>管理工作坊<br>
                        <i class="about_us_detail_ico"></i>知识分享&nbsp;&nbsp;<i class="about_us_detail_ico"></i>新人培训（读书会\部门对对碰）<br>
                        <i class="about_us_detail_ico"></i>TACP-研华外训
                    </div>
                </li>
                <li class="intro4 ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s"
                    swiper-animate-delay="0.3s">
                    <img style="width: 150px" th:attr="src=@{/images/block04.png}">
                    <div class="about_us_tit ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s"
                         swiper-animate-delay="0.3s">
                        <i class="about_us_detail_ico"></i>员工素质培训&nbsp;&nbsp;<i class="about_us_detail_ico"></i>读书会<br>
                        <i class="about_us_detail_ico"></i>员工文化活动（知性探访\益行一路）<br>
                        <i class="about_us_detail_ico"></i>艺文活动
                    </div>
                </li>
            </ul>

            </div>

        </section>
        <!-- slide3 -->
        <section class="swiper-slide swiper-slide3 swiper-slide-v">
            <div class="swiper-slide-section3" swiper-animate-effect="myZoomIn1" swiper-animate-duration="0.6s"
                 swiper-animate-delay="0s">
                <div style="padding: 18% 10% 10% 10%;font-size: 16px">
                    <p class="about_us_tit ani" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="0.3s"
                       swiper-animate-delay="0.3s">
                        &nbsp;&nbsp;&nbsp;&nbsp;为迎接物联网(IoT)和云端运算时代的到来，研华以智能地球推手(Enabling an Intelligent Planet)作为公司的全新企业形象及愿景。
                    </p>
                    <p class="about_us_tit ani" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="0.3s"
                       swiper-animate-delay="0.4s">
                        &nbsp;&nbsp;&nbsp;&nbsp;自1983年成立至今，研华全球分支机构遍及21个国家，拥有专职员工逾8000名。
                    </p>
                    <p class="about_us_tit ani" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="0.3s"
                       swiper-animate-delay="0.5s">
                        &nbsp;&nbsp;&nbsp;&nbsp;研华事业群组织分别专注于工业自动化、嵌入式电脑、智能系统及智能服务四大市场，并联合多家合作伙伴形成了强大的技术服务和营销网络，为客户提供真正全球化布局、本土化响应的便捷服务。
                    </p>
                    <p class="about_us_tit ani" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="0.3s"
                       swiper-animate-delay="0.6s">
                        &nbsp;&nbsp;&nbsp;&nbsp;研华以智能地球推手为企业使命，并以“驱动智慧城市创新 共建物联产业典范”为企业目标，协助各产业加速其智能化经营，致力于成为智能城市及物联网领域中最具关键影响力的全球企业。
                    </p>
                </div>
            </div>
        </section>

        <!-- slide4 -->
        <section class="swiper-slide swiper-slide4 swiper-slide-v">
            <div class="swiper-slide-section4" swiper-animate-effect="myZoomIn1" swiper-animate-duration="0.6s"
                 swiper-animate-delay="0s">
                <div style="font-size: 18px">
                    <ul class="company_intro">
                        <li class="intro1 ani" style="padding-top: 20px" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s"
                            swiper-animate-delay="0s">
                            <img style="width: 150px" th:attr="src=@{/images/obj.png}">
                            <div class="about_us_tit ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s"
                                 swiper-animate-delay="0.3s">
                                2019毕业的计算机相关专业的全日制本科、硕士
                            </div>
                        </li>
                        <li class="intro2 ani" style="padding-top: 20px" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s"
                            swiper-animate-delay="0.1s">
                            <img style="width: 150px" th:attr="src=@{/images/position.png}">
                            <div class="about_us_tit ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s"
                                 swiper-animate-delay="0.3s">
                                <img style="height: 40px;padding-bottom:10px;display: inline-block" th:attr="src=@{/images/1.png}">&nbsp;&nbsp;<span style="display: inline-block;height: 40px;font-size: x-large">研发类</span>&nbsp;岗位<br>
                                前台开发/后台开发/运维开发 /软件测试<br><br>
                                <img style="height: 40px;padding-bottom:10px;display: inline-block" th:attr="src=@{/images/2.png}">&nbsp;&nbsp;<span style="display: inline-block;height: 40px;font-size: x-large">其它类</span>&nbsp;岗位<br>
                                软件产品经理/云平台运维
                            </div>
                        </li>
                        <li class="intro3 ani" style="padding-top: 20px" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s"
                            swiper-animate-delay="0.2s">
                            <img style="width: 150px" th:attr="src=@{/images/flow.png}">
                        </li>
                    </ul>
                    <div class="about_us_tit ani" style="padding-top: 10px" align=center  swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s"
                         swiper-animate-delay="0.3s">
                        <img style="height: 60px" th:attr="src=@{/images/recuit_flow.png}">
                    </div>
                </div>
            </div>
        </section>

        <!-- slide5 -->
        <section class="swiper-slide swiper-slide5">
            <div class="swiper-container ani" id="swiper-container-h" swiper-animate-effect="rotateInUpLeft"
                 swiper-animate-duration="0.5s" swiper-animate-delay="0s">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide1">
                        <div class="swiper-slide-section5" swiper-animate-effect="myZoomIn1" swiper-animate-duration="0.6s"
                             swiper-animate-delay="0s">
                            <div style="padding-top: 24%;padding-left: 12%">
                                <span style="display: inline-block;height: 40px;font-size: large;font-weight:bold;color: #FEE034">职位一：前台开发工程师</span>
                            </div>
                            <div style="padding: 5% 10% 0 10%;font-size: 14px;color: white;font-family: 'Times New Roman'">
                                <p class="position_detail ani">
                                    1.2019年毕业，计算机、数学等相关专业本科及以上学历；
                                </p>
                                <P class="position_detail ani">
                                    2.对Web前端开发(Javascript/HTML/CSS)有基础；
                                </P>
                                <P class="position_detail ani">
                                    3.熟悉掌握VUE、React等前端框架者优先；
                                </P>
                                <p class="position_detail ani">
                                    4.具有很强的责任心，能够有一定的抗压性，积极主动，对开发工作有较高的热情；
                                </p>
                                <P class="position_detail ani">
                                    5.具有良好的学习能力及分析解决问题能力，具良好的沟通能力及团队协作能力。
                                </P>
                            </div>
                            <div align=center style="transform:scale(0.6,0.6)">
                                <button onclick="javascript:onEndClick();"
                                        th:style="'background:'
                                + 'url(/images/send.png) no-repeat;'
                                + 'height:' + '83px;' + 'width:' + '286px;'
                                + 'border-width:' + '0px;'">
                                    <h2 style="font-weight: bold;margin-bottom: 15px">我要投递</h2>
                                </button>
                            </div>
                        </div>
                        <div class="posit_arrow_bot"></div>
                    </div>

                    <div class="swiper-slide slide2">
                        <div class="swiper-slide-section5" swiper-animate-effect="myZoomIn1" swiper-animate-duration="0.6s"
                             swiper-animate-delay="0s">
                            <div style="padding-top: 24%;padding-left: 12%">
                                <span style="display: inline-block;height: 40px;font-size: large;font-weight:bold;color: #FEE034">职位二：JAVA开发工程师</span>
                            </div>
                            <div style="padding: 5% 10% 0 10%;font-size: 14px;color: white;font-family: 'Times New Roman'">
                                <p class="position_detail ani">
                                    1. 2019年毕业，计算机、数学等相关专业本科及以上学历；
                                </p>
                                <P class="position_detail ani">
                                    2. 对Web后端开发有一定基础，掌握面向对象程序设计与基本的设计模式；
                                </P>
                                <P class="position_detail ani">
                                    3. 熟悉Spring框架者优先；
                                </P>
                                <p class="position_detail ani">
                                    4. 具有很强的责任心，能够有一定的抗压性，积极主动，对开发工作有较高的热情；
                                </p>
                                <P class="position_detail ani">
                                    5. 具有良好的学习能力及分析解决问题能力，具良好的沟通能力及团队协作能力。
                                </P>
                            </div>
                            <div align=center style="transform:scale(0.6,0.6)">
                                <button class="scroll_bottom"
                                        th:style="'background:'
                                + 'url(/images/send.png) no-repeat;'
                                + 'height:' + '83px;' + 'width:' + '286px;'
                                + 'border-width:' + '0px;'">
                                    <h2 style="font-weight: bold;margin-bottom: 15px">我要投递</h2>
                                </button>
                            </div>
                        </div>
                        <div class="posit_arrow_bot"></div>
                    </div>
                    <div class="swiper-slide slide3">
                        <div class="swiper-slide-section5" swiper-animate-effect="myZoomIn1" swiper-animate-duration="0.6s"
                             swiper-animate-delay="0s">
                            <div style="padding-top: 24%;padding-left: 12%">
                                <span style="display: inline-block;height: 40px;font-size: large;font-weight:bold;color: #FEE034">职位三：云平台开发工程师</span>
                            </div>
                            <div style="padding: 5% 10% 0 10%;font-size: 14px;color: white;font-family: 'Times New Roman'">
                                <p class="position_detail ani">
                                    1.	2019年毕业，计算机、数学等相关专业本科及以上学历；
                                </p>
                                <P class="position_detail ani">
                                    2.	熟悉Linux系统管理，能够使用脚本自动执行任务，了解虚拟化技术，包含服务器、网络，存储和互连技术等；
                                </P>
                                <P class="position_detail ani">
                                    3.	实作经验C / C ++，Python和/或Java，熟悉Git、Jenkins等相关工具；
                                </P>
                                <p class="position_detail ani">
                                    4.	具有很强的责任心，能够有一定的抗压性，积极主动，对开发工作有较高的热情；
                                </p>
                                <P class="position_detail ani">
                                    5.	具有良好的学习能力及分析解决问题能力，具良好的沟通能力及团队协作能力。
                                </P>
                            </div>
                            <div align=center style="transform:scale(0.6,0.6)">
                                <button class="scroll_bottom"
                                        th:style="'background:'
                                + 'url(/images/send.png) no-repeat;'
                                + 'height:' + '83px;' + 'width:' + '286px;'
                                + 'border-width:' + '0px;'">
                                    <h2 style="font-weight: bold;margin-bottom: 15px">我要投递</h2>
                                </button>
                            </div>
                        </div>
                        <div class="posit_arrow_bot"></div>
                    </div>
                    <div class="swiper-slide slide4">
                        <div class="swiper-slide-section5" swiper-animate-effect="myZoomIn1" swiper-animate-duration="0.6s"
                             swiper-animate-delay="0s">
                            <div style="padding-top: 24%;padding-left: 12%">
                                <span style="display: inline-block;height: 40px;font-size: large;font-weight:bold;color: #FEE034">职位四：软件测试</span>
                            </div>
                            <div style="padding: 5% 10% 0 10%;font-size: 14px;color: white;font-family: 'Times New Roman'">
                                <p class="position_detail ani">
                                    1.	2019年毕业，计算机、数学等相关专业本科及以上学历；
                                </p>
                                <P class="position_detail ani">
                                    2.	了解Web类软件产品以及软件测试的基本知识，具备一定开发能力；
                                </P>
                                <P class="position_detail ani">
                                    3.	了解软件性能、压力、稳定性测试的概念，有相关测试经验、工具使用经验者优先；
                                </P>
                                <p class="position_detail ani">
                                    4.	具有很强的责任心，能够有一定的抗压性，积极主动，对测试工作有较高的热情；
                                </p>
                                <P class="position_detail ani">
                                    5.	具有良好的思维能力及分析解决问题能力，具良好的沟通能力及团队协作能力。
                                </P>
                            </div>
                            <div align=center style="transform:scale(0.6,0.6)">
                                <button class="scroll_bottom"
                                        th:style="'background:'
                                + 'url(/images/send.png) no-repeat;'
                                + 'height:' + '83px;' + 'width:' + '286px;'
                                + 'border-width:' + '0px;'">
                                    <h2 style="font-weight: bold;margin-bottom: 15px">我要投递</h2>
                                </button>
                            </div>
                        </div>
                        <div class="posit_arrow_bot"></div>
                    </div>
                    <div class="swiper-slide slide5">
                        <div class="swiper-slide-section6" swiper-animate-effect="myZoomIn1" swiper-animate-duration="0.6s"
                             swiper-animate-delay="0s">
                            <div style="padding-top: 24%;padding-left: 12%">
                                <span style="display: inline-block;height: 40px;font-size: large;font-weight:bold;color: #FEE034">职位一：软件产品经理</span>
                            </div>
                            <div style="padding: 5% 10% 0 10%;font-size: 14px;color: white;font-family: 'Times New Roman'">
                                <p class="position_detail ani">
                                    1.	计算机、自动化等相关专业本科及以上学历；
                                </p>
                                <P class="position_detail ani">
                                    2.	出色的沟通能力，拥有了解用户 / 客户需求的能力技巧；
                                </P>
                                <P class="position_detail ani">
                                    3.	有Web相关软件开发经验佳，熟悉互联网云平台架构（IaaS、PaaS、SaaS）者佳；
                                </P>
                                <p class="position_detail ani">
                                    4.	高效地团队协作和文化融合能力，具有良好的思维能力及分析解决问题能力。
                                </p>
                            </div>
                            <div align=center style="transform:scale(0.6,0.6)">
                                <button class="scroll_bottom"
                                        th:style="'background:'
                                + 'url(/images/send.png) no-repeat;'
                                + 'height:' + '83px;' + 'width:' + '286px;'
                                + 'border-width:' + '0px;'">
                                    <h2 style="font-weight: bold;margin-bottom: 15px">我要投递</h2>
                                </button>
                            </div>
                        </div>
                        <div class="posit_arrow_bot"></div>
                    </div>

                    <div class="swiper-slide slide6">
                        <div class="swiper-slide-section6" swiper-animate-effect="myZoomIn1" swiper-animate-duration="0.6s"
                             swiper-animate-delay="0s">
                            <div style="padding-top: 24%;padding-left: 12%">
                                <span style="display: inline-block;height: 40px;font-size: large;font-weight:bold;color: #FEE034">职位二：云平台应用工程师</span>
                            </div>
                            <div style="padding: 5% 10% 0 10%;font-size: 14px;color: white;font-family: 'Times New Roman'">
                                <p class="position_detail ani">
                                    1.	计算机相关专业本科及以上学历；
                                </p>
                                <P class="position_detail ani">
                                    2.	至少具有Bash shell编程的经验,Java或python编程经验是；
                                </P>
                                <P class="position_detail ani">
                                    3.	了解服务器，存储和互连技术，熟悉网络架构与网络设备管理；
                                </P>
                                <p class="position_detail ani">
                                    4.	具有很强的责任心，能够有一定的抗压性，积极主动，对开发工作有较高的热情；
                                </p>
                                <P class="position_detail ani">
                                    5.	具有良好的学习能力及分析解决问题能力，具良好的沟通能力及团队协作能力。
                                </P>
                            </div>
                            <div align=center style="transform:scale(0.6,0.6)">
                                <button class="scroll_bottom"
                                        th:style="'background:'
                                + 'url(/images/send.png) no-repeat;'
                                + 'height:' + '83px;' + 'width:' + '286px;'
                                + 'border-width:' + '0px;'">
                                    <h2 style="font-weight: bold;margin-bottom: 15px">我要投递</h2>
                                </button>
                            </div>
                        </div>
                        <div class="posit_arrow_bot"></div>
                    </div>

                </div>
            </div>
        </section>


        <section class="swiper-slide swiper-slide6 swiper-slide-v">

            <div class="swiper-slide-section_common" swiper-animate-effect="myZoomIn1" swiper-animate-duration="0.6s"
                 swiper-animate-delay="0s">
            <div style="width: 80%;position: relative;left: 10%">
                <div style="padding-top: 14%;margin-left: -6%">
                    <img style="width: 150px" th:attr="src=@{/images/form_title.png}">
                </div>
                <div style="margin-top: 5%">
                    <form id="info" method="post" name="info" th:action="@{/save}">
                        <div style="padding-left: 3%">
                            <div style="display: inline-block;width: 47%">
                                <div class="aui-form-input">
                                    <input th:style="'background:' + 'url(/images/person.png) no-repeat;'
                                    + 'background-size:' + '20px 20px;' + 'height:' + '35px;'
                                    + 'background-position:' + '5px center;' + 'padding-left:' + '40px;'
                                    + 'margin-bottom:' + '8%;' + 'width:' + '100%;' + 'background-color:' + 'white'"
                                           type="text" class="aui-form-control-two"
                                           name="name" onBlur="checkName()" required oninvalid="setCustomValidity('姓名不能为空')" oninput="setCustomValidity('')" id="1" placeholder="姓 名">
                                </div>
                                <div style="margin-top: -10px">
                                    <span class="aui-form-input tips" id="devname"></span>
                                </div>
                            </div>

                            <div style="display: inline-block;width: 47%">
                                <!--<div class="aui-form-input">-->
                                    <select class="aui-form-control-two"
                                            name="grander"
                                            title="请选择性别"
                                            th:style="'background:' + 'url(/images/grander.png) no-repeat;'
                                        + 'background-size:' + '20px 20px;' + 'height:' + '35px;'
                                        + 'background-position:' + '5px center;' + 'padding-left:' + '40px;'
                                        + 'margin-bottom:' + '6%' + 'width:' + '100%;' + 'background-color:' + 'white'">
                                        <option value ="male" selected>男</option>
                                        <option value ="female">女</option>
                                    </select>
                                <!--</div>-->
                                <div>
                                    <span class="aui-form-input tips" id="grander"></span>
                                </div>
                            </div>
                        </div>


                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <input  th:style="'background:' + 'url(/images/credit.png) no-repeat;'
                                + 'background-size:' + '20px 20px;' + 'height:' + '30px;' + 'background-position:'
                                + '5px center;' + 'padding-left:' + '40px;' + 'margin-bottom:' + '6%;'
                                + 'background-color:' + 'white'"
                                        type="text" class="aui-form-control-two" name="credit" id="2" placeholder="身份证号" onBlur="checkCredit()" required oninvalid="setCustomValidity('身份证号码不能为空')" oninput="setCustomValidity('')"/>
                            </div>
                            <div style="margin-top: -12px">
                                <span class="aui-form-input tips" id="credit"></span>
                            </div>
                        </div>
                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <input  th:style="'background:' + 'url(/images/phone.png) no-repeat;'
                                + 'background-size:' + '20px 20px;' + 'height:' + '30px;' + 'background-position:'
                                + '5px center;' + 'padding-left:' + '40px;' + 'margin-bottom:' + '6%;'
                                + 'background-color:' + 'white'"
                                        type="text" class="aui-form-control-two"
                                        name="phone" id="3" placeholder="手机号码" onBlur="checkPhone()" required oninvalid="setCustomValidity('手机号码不能为空')" oninput="setCustomValidity('')"/>
                            </div>
                            <div style="margin-top: -12px">
                                <span class="aui-form-input tips" id="phone"></span>
                            </div>
                        </div>

                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <input  th:style="'background:' + 'url(/images/email.png) no-repeat;'
                                + 'background-size:' + '20px 20px;' + 'height:' + '30px;'
                                + 'background-position:' + '5px center;' + 'padding-left:' + '40px;'
                                + 'margin-bottom:' + '6%;' + 'background-color:' + 'white'"
                                        type="text" class="aui-form-control-two" name="email" id="4" placeholder="电子邮箱" onBlur="checkEmail()" required oninvalid="setCustomValidity('电子邮箱不能为空')" oninput="setCustomValidity('')"/>
                            </div>
                            <div style="margin-top: -12px">
                                <span class="aui-form-input tips" id="email"></span>
                            </div>
                        </div>
                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <input  th:style="'background:' + 'url(/images/school.png) no-repeat;'
                                + 'background-size:' + '20px 20px;' + 'height:' + '30px;'
                                + 'background-position:' + '5px center;' + 'padding-left:' + '40px;'
                                + 'margin-bottom:' + '6%;' + 'background-color:' + 'white'"
                                        type="text" class="aui-form-control-two" name="school" id="5" placeholder="毕业院校" onBlur="checkSchool()" required oninvalid="setCustomValidity('毕业院校不能为空')" oninput="setCustomValidity('')"/>
                            </div>
                            <div style="margin-top: -12px">
                                <span class="aui-form-input tips" id="school"></span>
                            </div>
                        </div>
                        <div style="padding-left: 3%">
                            <div style="display: inline-block;width: 47%">
                                <div class="aui-form-input">
                                    <input th:style="'background:' + 'url(/images/major.png) no-repeat;'
                                    + 'background-size:' + '20px 20px;' + 'height:' + '35px;'
                                    + 'background-position:' + '5px center;' + 'padding-left:' + '40px;'
                                    + 'margin-bottom:' + '8%;' + 'width:' + '100%;' + 'background-color:' + 'white'"
                                           type="text" class="aui-form-control-two"
                                           name="major" onBlur="checkMajor()" required oninvalid="setCustomValidity('专业不能为空')" oninput="setCustomValidity('')" id="6" placeholder="专业">
                                </div>
                                <div style="margin-top: -10px">
                                    <span class="aui-form-input tips" id="major"></span>
                                </div>
                            </div>

                            <div style="display: inline-block;width: 47%">
                                <!--<div class="aui-form-input">-->
                                    <select class="aui-form-control-two"
                                            name="grander"
                                            title="请选择学历"
                                            th:style="'background:' + 'url(/images/background.png) no-repeat;'
                                        + 'background-size:' + '20px 20px;' + 'height:' + '35px;'
                                        + 'background-position:' + '5px center;' + 'padding-left:' + '40px;'
                                        + 'margin-bottom:' + '6%' + 'width:' + '100%;'
                                        + 'background-color:' + 'white'">
                                        <option value ="diploma" selected>本科</option>
                                        <option value ="master">硕士</option>
                                        <option value ="doctor">博士</option>
                                    </select>
                                <!--</div>-->
                                <div>
                                    <span class="aui-form-input tips" id="background"></span>
                                </div>
                            </div>
                        </div>
                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <textarea style="background-color: white" class="aui-form-control" name="description" id="7" minlength="5">特别说明...</textarea>
                            </div>
                        </div>
                        <div style="margin-left: 5%;margin-top: 2%">
                            <label style="display: inline-block">
                                <img style="display:inline-block;width: 25px;height: 25px;vertical-align:middle;padding-left: -2%" th:src="@{/images/up.png}" class="add-img">
                                <input style="display:inline-block;opacity: 0;width:1px;vertical-align:middle" class="myFileUpload" type="file"/>
                                <h5 style="display:inline-block;color: #004280">添加附件(word简历)</h5>
                            </label>
                            <span style="display:inline-block;color: white" class="show"></span>
                        </div>
                        <div id="bottom" align=center style="transform:scale(0.6,0.6);
                        font-size: 32px;font-weight: bold;margin-top: -5px">
                            <input type="submit"
                                   value="确认提交"
                                   th:style="'background:'
                                    + 'url(/images/send.png) no-repeat;'
                                    + 'height:' + '83px;' + 'width:' + '286px;'
                                    + 'border-width:' + '0px;' + 'padding-bottom:' + '5px'">
                            </input>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </section>

    </div>
    <div class="arrow-box">
        <img th:src="@{/images/arrow.png}" id="array">
    </div>
    <div class="swiper-pagination"></div>
</div>
<script th:src="@{/js/code.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{js/up.js}"></script>
<script type="text/javascript" th:inline="javascript">

    // function sub(){
    //     $.ajax({
    //         type:"post",
    //         url:"@{/save}",
    //         data:$("#formApply").serialize(),
    //         success: function (data) {
    //             // window.location.reload();
    //         }
    //     })
    // }
    function wxShare() {
        alert("Thanks!");
    };

    $(function() {
        $(".myFileUpload").change(function() {
            var arrs=$(this).val().split('\\');
            var filename=arrs[arrs.length-1];
            $(".show").html(filename);
        });
        play_music();
    });
    function play_music(){
        if ($('#mc_play').hasClass('on')){
            $('#mc_play audio').get(0).pause();
            $('#mc_play').attr('class','stop');
        }else{
            $('#mc_play audio').get(0).play();
            $('#mc_play').attr('class','on');
        }
        // $('#music_play_filter').hide();
        // event.stopPropagation(); //阻止冒泡
    };
    function just_play(id){
        $('#mc_play audio').get(0).play();
        $('#mc_play').attr('class','on');
        if (typeof(id)!='undefined'){
            // $('#music_play_filter').hide();
        }
        // event.stopPropagation(); //阻止冒泡
    };
    function is_weixn(){
        return false;
        var ua = navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i)=="micromessenger") {
            return true;
        } else {
            return false;
        }
    };
    var play_filter=document.getElementById('music_play_filter');
    play_filter.addEventListener('click', function(){
        just_play(1);
    });
    play_filter.addEventListener('touchstart', function(){
        just_play(1);
    });
    play_filter.addEventListener('touchend', function(){
        just_play(1);
    });
    play_filter.addEventListener('touchmove', function(){
        just_play(1);
    });
    play_filter.addEventListener('mousedown', function(){
        just_play(1);
    });
    play_filter.addEventListener('mouseup', function(){
        just_play(1);
    });
    play_filter.addEventListener('mousemove',function(){
        just_play(1);
    });
    window.onload=function(){
        if (!is_weixn()){
            just_play();
        }
    }

    //验证姓名
    function checkName(){
        na=info.name.value;
        if( na.length < 2 || na.length > 4) {
            $('#1')[0].style.border="1px solid red";
            devname.innerHTML='<font class="tips_false">长度是2~4个字符</font>';
        }else{
            $('#1')[0].style.border="1px solid green";
            devname.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证手机号码
    function checkPhone(){
        na=info.phone.value;
        if( na.length < 11 || na.length > 11){
            $('#3')[0].style.border="1px solid red";
            phone.innerHTML='<font class="tips_false">必须是11位数字</font>';
        }else{
            $('#3')[0].style.border="1px solid green";
            phone.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证身份证号
    function checkCredit(){
        na=info.credit.value;
        if( na.length < 18 || na.length > 18){
            $('#2')[0].style.border="1px solid red";
            credit.innerHTML='<font class="tips_false">必须是18位身份证号</font>';
        }else{
            $('#2')[0].style.border="1px solid green";
            credit.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证邮箱
    function checkEmail(){
        na=info.email.value;
        if( na.length < 13 || na.indexOf("@") == -1){
            $('#4')[0].style.border="1px solid red";
            email.innerHTML='<font class="tips_false">必须是正确的邮箱格式</font>';
        }else{
            $('#4')[0].style.border="1px solid green";
            email.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证学校
    function checkSchool(){
        na=info.school.value;
        if( na.length < 4 || na.length > 10){
            $('#5')[0].style.border="1px solid red";
            school.innerHTML='<font class="tips_false">字符在4~10之间</font>';
        }else{
            $('#5')[0].style.border="1px solid green";
            school.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证专业
    function checkMajor(){
        na=info.major.value;
        if( na.length < 4 || na.length > 10){
            $('#6')[0].style.border="1px solid red";
            major.innerHTML='<font class="tips_false">字符在4~10之间</font>';
        }else{
            $('#6')[0].style.border="1px solid green";
            major.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }

    function onEndClick() {
        window.location.href ="report";
    }


</script>


</body>
</html>

