<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>2018研华科技软件园招聘-校园招聘网站</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <!--
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <script src="js/swiper.min.js"></script>
    <script src="js/swiper.animate.min.js"></script>
    -->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/swiper.min.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{css/home.css}">
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="bookmark" href="../static/images/favicon.ico" />
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/swiper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/swiper.animate.min.js}"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="swiper-container" id="swiper-container-v">

    <section class="poster_wrap load" id="load">
        <div class="p_loading">
            <div class="p_loading_logo"></div>
            <p class="p_loading_tip">美满人生，从新工作开始</p>
        </div>
    </section>
    <!--音乐播放-->
    <span id="musicControl">
        <a id="mc_play" class="on" onclick="play_music()">
            <audio id="musicfx" th:attr="src=@{/music/children.mp3}" autoplay preload loop="loop"></audio>
        </a>
    </span>

    <div class="swiper-wrapper">
        <!--slide1-->
        <section class="swiper-slide swiper-slide1 swiper-slide-v">
            <div class="index-top ani" swiper-animate-effect="myZoomIn1" swiper-animate-duration="0.6s"
                 swiper-animate-delay="0s">
                <div class="logo">
                    <div class="box1">
                        <div class="box2">
                            <img th:attr="src=@{/upload/wzp_logo.png}">
                        </div>
                    </div>
                </div>
                <h1 class="poster_tit" style="margin-top: 50px">研华科技2019毕业生</h1>
                <h1 class="poster_tit" style="margin-top: 20px">招募令</h1>
                <p>
                    <span style="font-weight:bold;color:green;font-size: 16px">
                        想在物联网应用最前沿的视野？<br>
                        想大显身手拥有专业的职业发展平台？<br>
                        想在活泼有爱奋发向上的氛围里开心工作？<br>
                    </span>
                </p>
                <h1 class="poster_tit" style="margin-top: 20px">
                    <span style="font-weight:bold;color:yellow;font-size: 24px">
                        请看这里...
                    </span>
                </h1>
            </div>

            <div class="building ani" swiper-animate-effect="myZoomIn2" swiper-animate-duration="0.6s"
                 swiper-animate-delay="0s"></div>

        </section>
        <!-- slide2 -->
        <section class="swiper-slide swiper-slide2 swiper-slide-v">


            <ul class="company_intro">
                <li class="intro1 ani" swiper-animate-effect="myFlip" swiper-animate-duration="0.3s"
                    swiper-animate-delay="0s">
                    <div class="icon"><i></i></div>
                    <p>西安</p>
                </li>
                <li class="intro2 ani" swiper-animate-effect="myFlip" swiper-animate-duration="0.3s"
                    swiper-animate-delay="0.1s">
                    <div class="icon"><i></i></div>
                    <p>50-500人</p>
                </li>
                <li class="intro3 ani" swiper-animate-effect="myFlip" swiper-animate-duration="0.3s"
                    swiper-animate-delay="0.2s">
                    <div class="icon"><i></i></div>
                    <p>私营</p>
                </li>
            </ul>


            <h3 class="about_us_tit ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s"
                swiper-animate-delay="0.3s"><i class="about_us_tit_ico"></i>关于研华</h3>
            <div swiper-animate-effect="fadeIn" swiper-animate-duration="0.3s"
                 swiper-animate-delay="0.5s">
                <p style="padding: 0 22px">
                    1.	为迎接物联网(IoT)和云端运算时代的到来，研华以智能地球推手(Enabling an Intelligent Planet)作为公司的全新企业形象及愿景。<br><br>
                    2.	自1983年成立至今，研华全球分支机构遍及21个国家，拥有专职员工逾8000名。<br><br>
                    3.	研华事业群组织分别专注于工业自动化、嵌入式电脑、智能系统及智能服务四大市场，并联合多家合作伙伴形成了强大的技术服务和营销网络，为客户提供真正全球化布局、本土化响应的便捷服务。<br><br>
                    4.	研华以智能地球推手为企业使命，并以“驱动智慧城市创新 共建物联产业典范”为企业目标，协助各产业加速其智能化经营，致力于成为智能城市及物联网领域中最具关键影响力的全球企业。<br>
                </p>
            </div>

        </section>
        <!-- slide3 -->
        <section class="swiper-slide swiper-slide3 swiper-slide-v">

            <h1 class="abus_head"><i class="about_us_tit_ico"></i>完整的福利体系</h1>


            <div class="welf_bg">
                <div class="one ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn"
                     swiper-animate-duration="0.5s" swiper-animate-delay="0s"><span>五险一金</span></div>
                <div class="two ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn"
                     swiper-animate-duration="0.5s" swiper-animate-delay="0.1s"><span>补充商业保险</span></div>
                <div class="thr ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn"
                     swiper-animate-duration="0.5s" swiper-animate-delay="0.2s"><span>带薪假期</span></div>
                <div class="thi ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn"
                     swiper-animate-duration="0.5s" swiper-animate-delay="0.2s"><span>员工定期体检</span></div>
                <div class="fiv ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn"
                     swiper-animate-duration="0.5s" swiper-animate-delay="0.3s"><span>福委会丰富活动</span></div>
            </div>
        </section>

        <!-- slide4 -->
        <section class="swiper-slide swiper-slide4 swiper-slide-v">

            <h1 class="abus_head"><i class="about_us_tit_ico"></i>提升工作能力</h1>


            <div class="welf_bg">
                <div class="one ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn"
                     swiper-animate-duration="0.5s" swiper-animate-delay="0s"><span>新主管训练营</span></div>
                <div class="two ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn"
                     swiper-animate-duration="0.5s" swiper-animate-delay="0.1s"><span>管理工作坊</span></div>
                <div class="thr ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn"
                     swiper-animate-duration="0.5s" swiper-animate-delay="0.2s"><span>知识分享</span></div>
                <div class="thi ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn"
                     swiper-animate-duration="0.5s" swiper-animate-delay="0.2s"><span>新人培训（读书会\部门对对碰）</span></div>
                <div class="fiv ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn"
                     swiper-animate-duration="0.5s" swiper-animate-delay="0.3s"><span>TACP-研华外训</span></div>
            </div>
        </section>

        <!-- slide5 -->
        <section class="swiper-slide swiper-slide5 swiper-slide-v">

            <h1 class="abus_head"><i class="about_us_tit_ico"></i>提升个人素养</h1>


            <div class="welf_bg">
                <div class="one ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn"
                     swiper-animate-duration="0.5s" swiper-animate-delay="0s"><span>员工素质培训</span></div>
                <div class="two ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn"
                     swiper-animate-duration="0.5s" swiper-animate-delay="0.1s"><span>读书会</span></div>
                <div class="thr ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn"
                     swiper-animate-duration="0.5s" swiper-animate-delay="0.2s"><span>员工文化活动（知性探访\益行一路）</span></div>
                <div class="thi ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn"
                     swiper-animate-duration="0.5s" swiper-animate-delay="0.2s"><span>艺文活动 </span></div>
            </div>
        </section>

        <!-- slide6 -->
        <section class="swiper-slide swiper-slide6 swiper-slide-v">

            <h1 class="abus_head"><i class="about_us_tit_ico"></i>实现美满人生</h1>


            <div class="welf_bg">
                <div class="one ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn"
                     swiper-animate-duration="0.5s" swiper-animate-delay="0s"><span>弱势群体关注</span></div>
                <div class="two ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn"
                     swiper-animate-duration="0.5s" swiper-animate-delay="0.1s"><span>员工社团互动（乐活\亲子\桌游）</span></div>
                <div class="thr ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn"
                     swiper-animate-duration="0.5s" swiper-animate-delay="0.2s"><span>主题日活动（家庭日\庆生会\尾牙\跨区域旅游）</span></div>
            </div>
        </section>

        <!-- slide7 -->
        <section class="swiper-slide swiper-slide7 swiper-slide-v">
            <h1 class="posit_tit"><i class="about_us_tit_ico"></i>我们招聘的职位</h1>
            <div class="swiper-container ani" id="swiper-container-h" swiper-animate-effect="rotateInUpLeft"
                 swiper-animate-duration="0.5s" swiper-animate-delay="0s">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide1">
                        <div class="posit_details_head">
                            <h3 class="posit_details_tit">01	研发类岗位</h3>
                            <span class="posit_details_money"><strong>前台开发工程师</strong></span>
                            <!--<p class="posit_details_tip">经验不限、学历本科</p>-->
                        </div>
                        <div class="job_details">
                            <!--<p class="job_address">工作地点：广东省深圳市南山区高新科技园</p>-->
                            <!--<h3 class="job_name">任职要求：-->
                                <!--<a class="job_name_details" href="#">职位详情&gt;&gt;</a>-->
                            <!--</h3>-->
                            <div>
                                <h3 class="posit_details_tit">任职资格：</h3>
                                <p>
                                    1. 2019年毕业，计算机、数学等相关专业本科及以上学历；<br>
                                    2. 对Web前端开发(Javascript/HTML/CSS)有基础；<br>
                                    3. 熟悉掌握VUE、React等前端框架者优先；<br>
                                    4. 具有很强的责任心，能够有一定的抗压性，积极主动，对开发工作有较高的热情；<br>
                                    5. 具有良好的学习能力及分析解决问题能力，具良好的沟通能力及团队协作能力。<br>
                                </p>
                            </div>

                        </div>
                        <div class="posit_arrow_bot"></div>


                    </div>
                    <div class="swiper-slide slide2">

                        <div class="posit_details_head">
                            <h3 class="posit_details_tit">01	研发类岗位</h3>
                            <span class="posit_details_money"><strong>JAVA开发工程师：</strong></span>
                            <!--<p class="posit_details_tip">经验不限、学历不限</p>-->
                        </div>
                        <div class="job_details">
                            <!--<p class="job_address">工作地点：广东省深圳市南山区高新科技园</p>-->
                            <!--<h3 class="job_name">任职要求：-->
                                <!--&lt;!&ndash;<a class="job_name_details" href="#">职位详情&gt;&gt;</a>&ndash;&gt;-->
                            <!--</h3>-->
                            <div>
                                <h3 class="posit_details_tit">任职资格：</h3>
                                <p>
                                    1. 2019年毕业，计算机、数学等相关专业本科及以上学历；<br>
                                    2. 对Web后端开发有一定基础，掌握面向对象程序设计与基本的设计模式；<br>
                                    3. 熟悉Spring框架者优先；<br>
                                    4. 具有很强的责任心，能够有一定的抗压性，积极主动，对开发工作有较高的热情；<br>
                                    5. 具有良好的学习能力及分析解决问题能力，具良好的沟通能力及团队协作能力。<br>
                                </p>
                            </div>

                        </div>
                        <div class="posit_arrow_bot"></div>
                    </div>
                    <div class="swiper-slide slide3">

                        <div class="posit_details_head">
                            <h3 class="posit_details_tit">01	研发类岗位</h3>
                            <span class="posit_details_money"><strong>云平台开发工程师：</strong></span>
                            <!--<p class="posit_details_tip">经验不限、学历大专</p>-->
                        </div>
                        <div class="job_details">
                            <!--<p class="job_address">工作地点：广东省深圳市南山区高新科技园</p>-->
                            <!--<h3 class="job_name">任职要求：-->
                                <!--&lt;!&ndash;<a class="job_name_details" href="#">职位详情&gt;&gt;</a>&ndash;&gt;-->
                            <!--</h3>-->
                            <div>
                                <h3 class="posit_details_tit">任职资格：</h3>
                                <p>
                                    1.	2019年毕业，计算机、数学等相关专业本科及以上学历；<br>
                                    2.	熟悉Linux系统管理，能够使用脚本自动执行任务，了解虚拟化技术，包含服务器、网络，存储和互连技术等；<br>
                                    3.	实作经验C / C ++，Python和/或Java，熟悉Git、Jenkins等相关工具；<br>
                                    4.	具有很强的责任心，能够有一定的抗压性，积极主动，对开发工作有较高的热情；<br>
                                    5.	具有良好的学习能力及分析解决问题能力，具良好的沟通能力及团队协作能力。<br>
                                </p>
                            </div>

                        </div>
                        <div class="posit_arrow_bot"></div>
                    </div>


                    <div class="swiper-slide slide4">
                        <div class="posit_details_head">
                            <h3 class="posit_details_tit">01	研发类岗位</h3>
                            <span class="posit_details_money"><strong>软件测试：</strong></span>
                            <!--<p class="posit_details_tip">经验不限、学历大专</p>-->
                        </div>
                        <div class="job_details">
                            <!--<p class="job_address">工作地点：广东省深圳市南山区高新科技园</p>-->
                            <!--<h3 class="job_name">任职要求：-->
                                <!--&lt;!&ndash;<a class="job_name_details" href="#">职位详情&gt;&gt;</a>&ndash;&gt;-->
                            <!--</h3>-->
                            <div>
                                <h3 class="posit_details_tit">任职资格：</h3>
                                <p>
                                    1.	2019年毕业，计算机、数学等相关专业本科及以上学历；<br>
                                    2.	了解Web类软件产品以及软件测试的基本知识，具备一定开发能力；<br>
                                    3.	了解软件性能、压力、稳定性测试的概念，有相关测试经验、工具使用经验者优先；<br>
                                    4.	具有很强的责任心，能够有一定的抗压性，积极主动，对测试工作有较高的热情；<br>
                                    5.	具有良好的思维能力及分析解决问题能力，具良好的沟通能力及团队协作能力。<br>
                                </p>
                            </div>

                        </div>
                        <div class="posit_arrow_bot"></div>
                    </div>


                    <div class="swiper-slide slide5">
                        <div class="posit_details_head">
                            <h3 class="posit_details_tit">02	其它类岗位</h3>
                            <span class="posit_details_money"><strong>软件产品经理：</strong></span>
                            <!--<p class="posit_details_tip">经验不限、学历本科</p>-->
                        </div>
                        <div class="job_details">
                            <!--<p class="job_address">工作地点：广东省深圳市南山区高新科技园</p>-->
                            <!--<h3 class="job_name">任职要求：-->
                                <!--&lt;!&ndash;<a class="job_name_details" href="#">职位详情&gt;&gt;</a>&ndash;&gt;-->
                            <!--</h3>-->
                            <div>
                                <h3 class="posit_details_tit">任职资格：</h3>
                                <p>
                                    1.	计算机、自动化等相关专业本科及以上学历；<br>
                                    2.	出色的沟通能力，拥有了解用户 / 客户需求的能力技巧；<br>
                                    3.	有Web相关软件开发经验佳，熟悉互联网云平台架构（IaaS、PaaS、SaaS）者佳；<br>
                                    4.	高效地团队协作和文化融合能力，具有良好的思维能力及分析解决问题能力。<br>
                                </p>
                            </div>

                        </div>
                        <div class="posit_arrow_bot"></div>
                    </div>

                    <div class="swiper-slide slide6">
                        <div class="posit_details_head">
                            <h3 class="posit_details_tit">02	其它类岗位</h3>
                            <span class="posit_details_money"><strong>云平台应用工程师：</strong></span>
                            <!--<p class="posit_details_tip">经验不限、学历本科</p>-->
                        </div>
                        <div class="job_details">
                            <!--<p class="job_address">工作地点：广东省深圳市南山区高新科技园</p>-->
                            <!--<h3 class="job_name">任职要求：-->
                            <!--&lt;!&ndash;<a class="job_name_details" href="#">职位详情&gt;&gt;</a>&ndash;&gt;-->
                            <!--</h3>-->
                            <div>
                                <h3 class="posit_details_tit">任职资格：</h3>
                                <p>
                                    1.	计算机相关专业本科及以上学历；<br>
                                    2.	至少具有Bash shell编程的经验,Java或python编程经验是；<br>
                                    3.	了解服务器，存储和互连技术，熟悉网络架构与网络设备管理；<br>
                                    4.	具有很强的责任心，能够有一定的抗压性，积极主动，对开发工作有较高的热情；<br>
                                    5.	具有良好的学习能力及分析解决问题能力，具良好的沟通能力及团队协作能力。<br>
                                </p>
                            </div>

                        </div>
                        <div class="posit_arrow_bot"></div>
                    </div>

                </div>
            </div>
            <!--<div class="job_btn_con ani" swiper-animate-effect="slideInRight" swiper-animate-duration="0.1s"-->
                 <!--swiper-animate-delay="0.5s">-->
                <!--<div class="job_btn_list">-->
                    <!--<a href="/report" class="button">填写信息</a>-->
                    <!--<a href="tel:029—87669933" class="button">电话联系</a>-->
                <!--</div>-->
            <!--</div>-->
        </section>


        <section class="swiper-slide swiper-slide6 swiper-slide-v">
            <!--<div class="logo ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.3s"-->
            <!--swiper-animate-delay="0s">-->
            <!--<div class="box1">-->
            <!--<div class="box2">-->
            <!--<img class="box3" th:attr="src=@{/upload/wzp_logo.png}">-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <div style="width: 90%;position: relative;left: 5%">
                <div style="height:20px;"></div>
                <div class="aui-content-up">
                    <form id="info" method="post" name="info" th:action="@{/save}">
                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <input th:style="'background:' + 'url(/images/person.png) no-repeat;' + 'background-size:' + '20px 20px;' + 'height:' + '30px;' + 'background-position:' + '5px center;' + 'padding-left:' + '40px;' + 'margin-bottom:' + '6%'"
                                       type="text" class="aui-form-control-two"
                                       name="name" onBlur="checkName()" required oninvalid="setCustomValidity('姓名不能为空')" oninput="setCustomValidity('')" id="1" placeholder="姓 名">
                            </div>
                            <div style="margin-top: -13px">
                                <span class="aui-form-input tips" id="devname"></span>
                            </div>
                        </div>
                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <input  th:style="'background:' + 'url(/images/phone.png) no-repeat;' + 'background-size:' + '20px 20px;' + 'height:' + '30px;' + 'background-position:' + '5px center;' + 'padding-left:' + '40px;' + 'margin-bottom:' + '6%'"
                                        type="text" class="aui-form-control-two"
                                        name="phone" id="2" placeholder="手机号码" onBlur="checkPhone()" required oninvalid="setCustomValidity('手机号码不能为空')" oninput="setCustomValidity('')"/>
                            </div>
                            <div style="margin-top: -13px">
                                <span class="aui-form-input tips" id="phone"></span>
                            </div>
                        </div>
                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <input  th:style="'background:' + 'url(/images/credit.png) no-repeat;' + 'background-size:' + '20px 20px;' + 'height:' + '30px;' + 'background-position:' + '5px center;' + 'padding-left:' + '40px;' + 'margin-bottom:' + '6%'"
                                        type="text" class="aui-form-control-two" name="credit" id="3" placeholder="身份证号" onBlur="checkCredit()" required oninvalid="setCustomValidity('身份证号码不能为空')" oninput="setCustomValidity('')"/>
                            </div>
                            <div style="margin-top: -13px">
                                <span class="aui-form-input tips" id="credit"></span>
                            </div>
                        </div>
                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <input  th:style="'background:' + 'url(/images/email.png) no-repeat;' + 'background-size:' + '20px 20px;' + 'height:' + '30px;' + 'background-position:' + '5px center;' + 'padding-left:' + '40px;' + 'margin-bottom:' + '6%'"
                                        type="text" class="aui-form-control-two" name="email" id="4" placeholder="电子邮箱" onBlur="checkEmail()" required oninvalid="setCustomValidity('电子邮箱不能为空')" oninput="setCustomValidity('')"/>
                            </div>
                            <div style="margin-top: -13px">
                                <span class="aui-form-input tips" id="email"></span>
                            </div>
                        </div>
                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <input  th:style="'background:' + 'url(/images/school.png) no-repeat;' + 'background-size:' + '20px 20px;' + 'height:' + '30px;' + 'background-position:' + '5px center;' + 'padding-left:' + '40px;' + 'margin-bottom:' + '6%'"
                                        type="text" class="aui-form-control-two" name="school" id="5" placeholder="毕业院校" onBlur="checkSchool()" required oninvalid="setCustomValidity('毕业院校不能为空')" oninput="setCustomValidity('')"/>
                            </div>
                            <div style="margin-top: -13px">
                                <span class="aui-form-input tips" id="school"></span>
                            </div>
                        </div>
                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <input  th:style="'background:' + 'url(/images/major.png) no-repeat;' + 'background-size:' + '20px 20px;' + 'height:' + '30px;' + 'background-position:' + '5px center;' + 'padding-left:' + '40px;' + 'margin-bottom:' + '6%'"
                                        type="text" class="aui-form-control-two" name="major" id="6" placeholder="专 业" onBlur="checkMajor()" required oninvalid="setCustomValidity('专业不能为空')" oninput="setCustomValidity('')"/>
                            </div>
                            <div style="margin-top: -13px">
                                <span class="aui-form-input tips" id="major"></span>
                            </div>
                        </div>
                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <textarea class="aui-form-control" name="description" id="7" minlength="5">特别说明...</textarea>
                            </div>
                        </div>

                        <input type="submit"
                               class="btn btn-primary"
                               style="width: 70%; margin-left:15%; position: relative;margin-top:10%">
                        </input>
                    </form>
                </div>
            </div>
        </section>

        <!-- slide8-->
        <section class="swiper-slide swiper-slide8 swiper-slide-v">
            <div class="logo">
                <div class="box1">
                    <div class="box2">
                        <img class="box3" th:attr="src=@{/upload/wzp_logo.png}">
                    </div>
                </div>
            </div>
            <p class="praise_tip ani" href="javascript:;" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s"
               swiper-animate-delay="0s">已有<b> 5 </b>人觉得这家公司值得加入</p>
            <a class="praise_btn ani" href="javascript:;" swiper-animate-effect="fadeInUp"
               swiper-animate-duration="0.3s" swiper-animate-delay="0.1s">
                <i><em></em></i><span>点赞，值得加入</span>
            </a>
            <a class="praise_share_btn ani" href="javascript:void(0);" onclick="wxShare()" swiper-animate-effect="fadeInUp"
               swiper-animate-duration="0.3s" swiper-animate-delay="0.2s">分享给好友</a>
            <!--<a class="more_position ani" href="#" id="viewmoreinfozp" swiper-animate-effect="fadeInUp"-->
               <!--swiper-animate-duration="0.3s" swiper-animate-delay="0.3s">查看更多职位&gt;&gt;</a>-->
        </section>


    </div>
    <div class="arrow-box">
        <img th:src="@{/images/arrow.png}" id="array">
    </div>
    <div class="swiper-pagination"></div>
</div>
<script th:src="@{/js/code.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{js/up.js}"></script>
<script type="text/javascript" th:inline="javascript">

    // function sub(){
    //     $.ajax({
    //         type:"post",
    //         url:"@{/save}",
    //         data:$("#formApply").serialize(),
    //         success: function (data) {
    //             // window.location.reload();
    //         }
    //     })
    // }
    function wxShare() {
        alert("Thanks!");
    };

    $(function() {
        play_music();
    });
    function play_music(){
        if ($('#mc_play').hasClass('on')){
            $('#mc_play audio').get(0).pause();
            $('#mc_play').attr('class','stop');
        }else{
            $('#mc_play audio').get(0).play();
            $('#mc_play').attr('class','on');
        }
        // $('#music_play_filter').hide();
        // event.stopPropagation(); //阻止冒泡
    };
    function just_play(id){
        $('#mc_play audio').get(0).play();
        $('#mc_play').attr('class','on');
        if (typeof(id)!='undefined'){
            // $('#music_play_filter').hide();
        }
        // event.stopPropagation(); //阻止冒泡
    };
    function is_weixn(){
        return false;
        var ua = navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i)=="micromessenger") {
            return true;
        } else {
            return false;
        }
    };
    var play_filter=document.getElementById('music_play_filter');
    play_filter.addEventListener('click', function(){
        just_play(1);
    });
    play_filter.addEventListener('touchstart', function(){
        just_play(1);
    });
    play_filter.addEventListener('touchend', function(){
        just_play(1);
    });
    play_filter.addEventListener('touchmove', function(){
        just_play(1);
    });
    play_filter.addEventListener('mousedown', function(){
        just_play(1);
    });
    play_filter.addEventListener('mouseup', function(){
        just_play(1);
    });
    play_filter.addEventListener('mousemove',function(){
        just_play(1);
    });
    window.onload=function(){
        if (!is_weixn()){
            just_play();
        }
    }

    //验证姓名
    function checkName(){
        na=info.name.value;
        if( na.length < 2 || na.length > 4) {
            $('#1')[0].style.border="1px solid red";
            devname.innerHTML='<font class="tips_false">长度是2~4个字符</font>';
        }else{
            $('#1')[0].style.border="1px solid green";
            devname.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证手机号码
    function checkPhone(){
        na=info.phone.value;
        if( na.length < 11 || na.length > 11){
            $('#2')[0].style.border="1px solid red";
            phone.innerHTML='<font class="tips_false">必须是11位数字</font>';
        }else{
            $('#2')[0].style.border="1px solid green";
            phone.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证身份证号
    function checkCredit(){
        na=info.credit.value;
        if( na.length < 18 || na.length > 18){
            $('#3')[0].style.border="1px solid red";
            credit.innerHTML='<font class="tips_false">必须是18位身份证号</font>';
        }else{
            $('#3')[0].style.border="1px solid green";
            credit.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证邮箱
    function checkEmail(){
        na=info.email.value;
        if( na.length < 13 || na.indexOf("@") == -1){
            $('#4')[0].style.border="1px solid red";
            email.innerHTML='<font class="tips_false">必须是正确的邮箱格式</font>';
        }else{
            $('#4')[0].style.border="1px solid green";
            email.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证学校
    function checkSchool(){
        na=info.school.value;
        if( na.length < 4 || na.length > 10){
            $('#5')[0].style.border="1px solid red";
            school.innerHTML='<font class="tips_false">字符在4~10之间</font>';
        }else{
            $('#5')[0].style.border="1px solid green";
            school.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证专业
    function checkMajor(){
        na=info.major.value;
        if( na.length < 4 || na.length > 10){
            $('#6')[0].style.border="1px solid red";
            major.innerHTML='<font class="tips_false">字符在4~10之间</font>';
        }else{
            $('#6')[0].style.border="1px solid green";
            major.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }

</script>


</body>
</html>

