<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>2018研华科技软件园招聘-校园招聘网站</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/swiper.min.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{css/home.css}">
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="bookmark" href="../static/images/favicon.ico" />

    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/swiper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/swiper.animate.min.js}"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="swiper-container" id="swiper-container-v">

    <section class="poster_wrap load" id="load">
        <div class="p_loading">
            <div class="p_loading_logo"></div>
            <p class="p_loading_tip">美满人生，即将开启</p>
        </div>
    </section>
    <!--音乐播放-->
    <span id="musicControl">
        <a id="mc_play" class="on" onclick="play_music()">
            <audio id="musicfx" th:attr="src=@{/music/children.mp3}" autoplay preload loop="loop"></audio>
        </a>
    </span>

    <div class="swiper-wrapper">

        <section class="swiper-slide swiper-slide6 swiper-slide-v">

            <div class="swiper-slide-section_common" swiper-animate-effect="myZoomIn1" swiper-animate-duration="0.6s"
                 swiper-animate-delay="0s">
                <div style="width: 80%;position: relative;left: 10%">
                    <div style="padding-top: 14%;margin-left: -6%">
                        <img style="width: 150px" th:attr="src=@{/images/form_title.png}">
                    </div>
                    <div style="margin-top: 5%">
                        <form id="info" method="post" name="info" th:action="@{/save}" enctype="multipart/form-data">
                            <div style="padding-left: 3%">
                                <div style="display: inline-block;width: 47%">
                                    <div class="aui-form-input">
                                        <input th:style="'background:' + 'url(/images/person.png) no-repeat;'
                                    + 'background-size:' + '20px 20px;' + 'height:' + '35px;'
                                    + 'background-position:' + '5px center;' + 'padding-left:' + '40px;'
                                    + 'margin-bottom:' + '12%;' + 'width:' + '100%;' + 'background-color:' + 'white'"
                                               type="text" class="aui-form-control-two"
                                               name="name" onBlur="checkName()" required oninvalid="setCustomValidity('姓名不能为空')" oninput="setCustomValidity('')" id="1" placeholder="姓 名">
                                    </div>
                                    <div style="margin-top: -12px">
                                        <span class="aui-form-input tips" id="devname"></span>
                                    </div>
                                </div>

                                <div style="display: inline-block;width: 47%">
                                    <!--<div class="aui-form-input">-->
                                    <select class="aui-form-control-two"
                                            name="gender"
                                            title="请选择性别"
                                            th:style="'background:' + 'url(/images/grander.png) no-repeat;'
                                        + 'background-size:' + '20px 20px;' + 'height:' + '35px;'
                                        + 'background-position:' + '5px center;' + 'padding-left:' + '40px;'
                                        + 'margin-bottom:' + '2.5%;' + 'width:' + '100%;' + 'background-color:' + 'white'">
                                        <option value ="男" selected>男</option>
                                        <option value ="女">女</option>
                                    </select>
                                    <!--</div>-->
                                    <div>
                                        <span class="aui-form-input tips" id="grander"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="aui-form-group clear">
                                <div class="aui-form-input">
                                    <input  th:style="'background:' + 'url(/images/credit.png) no-repeat;'
                                + 'background-size:' + '20px 20px;' + 'height:' + '30px;' + 'background-position:'
                                + '5px center;' + 'padding-left:' + '40px;' + 'margin-bottom:' + '6%;'
                                + 'background-color:' + 'white'"
                                            type="text" class="aui-form-control-two" name="credit" id="2" placeholder="身份证号" onBlur="checkCredit()" required oninvalid="setCustomValidity('身份证号码不能为空')" oninput="setCustomValidity('')"/>
                                </div>
                                <div style="margin-top: -12px">
                                    <span class="aui-form-input tips" id="credit"></span>
                                </div>
                            </div>
                            <div class="aui-form-group clear">
                                <div class="aui-form-input">
                                    <input  th:style="'background:' + 'url(/images/phone.png) no-repeat;'
                                + 'background-size:' + '20px 20px;' + 'height:' + '30px;' + 'background-position:'
                                + '5px center;' + 'padding-left:' + '40px;' + 'margin-bottom:' + '6%;'
                                + 'background-color:' + 'white'"
                                            type="text" class="aui-form-control-two"
                                            name="phone" id="3" placeholder="手机号码" onBlur="checkPhone()" required oninvalid="setCustomValidity('手机号码不能为空')" oninput="setCustomValidity('')"/>
                                </div>
                                <div style="margin-top: -12px">
                                    <span class="aui-form-input tips" id="phone"></span>
                                </div>
                            </div>

                            <div class="aui-form-group clear">
                                <div class="aui-form-input">
                                    <input  th:style="'background:' + 'url(/images/email.png) no-repeat;'
                                + 'background-size:' + '20px 20px;' + 'height:' + '30px;'
                                + 'background-position:' + '5px center;' + 'padding-left:' + '40px;'
                                + 'margin-bottom:' + '6%;' + 'background-color:' + 'white'"
                                            type="text" class="aui-form-control-two" name="email" id="4" placeholder="电子邮箱" onBlur="checkEmail()" required oninvalid="setCustomValidity('电子邮箱不能为空')" oninput="setCustomValidity('')"/>
                                </div>
                                <div style="margin-top: -12px">
                                    <span class="aui-form-input tips" id="email"></span>
                                </div>
                            </div>
                            <div class="aui-form-group clear">
                                <div class="aui-form-input">
                                    <input  th:style="'background:' + 'url(/images/school.png) no-repeat;'
                                + 'background-size:' + '20px 20px;' + 'height:' + '30px;'
                                + 'background-position:' + '5px center;' + 'padding-left:' + '40px;'
                                + 'margin-bottom:' + '6%;' + 'background-color:' + 'white'"
                                            type="text" class="aui-form-control-two" name="school" id="5" placeholder="毕业院校" onBlur="checkSchool()" required oninvalid="setCustomValidity('毕业院校不能为空')" oninput="setCustomValidity('')"/>
                                </div>
                                <div style="margin-top: -12px">
                                    <span class="aui-form-input tips" id="school"></span>
                                </div>
                            </div>
                            <div style="padding-left: 3%">
                                <div style="display: inline-block;width: 47%">
                                    <div class="aui-form-input">
                                        <input th:style="'background:' + 'url(/images/major.png) no-repeat;'
                                    + 'background-size:' + '20px 20px;' + 'height:' + '35px;'
                                    + 'background-position:' + '5px center;' + 'padding-left:' + '40px;'
                                    + 'margin-bottom:' + '12%;' + 'width:' + '100%;' + 'background-color:' + 'white'"
                                               type="text" class="aui-form-control-two"
                                               name="major" onBlur="checkMajor()" required oninvalid="setCustomValidity('专业不能为空')" oninput="setCustomValidity('')" id="6" placeholder="专业">
                                    </div>
                                    <div style="margin-top: -12px">
                                        <span class="aui-form-input tips" id="major"></span>
                                    </div>
                                </div>

                                <div style="display: inline-block;width: 47%">
                                    <!--<div class="aui-form-input">-->
                                    <select class="aui-form-control-two"
                                            name="background"
                                            title="请选择学历"
                                            form="info"
                                            th:style="'background:' + 'url(/images/background.png) no-repeat;'
                                        + 'background-size:' + '20px 20px;' + 'height:' + '35px;'
                                        + 'background-position:' + '5px center;' + 'padding-left:' + '40px;'
                                        + 'margin-bottom:' + '2.5%;' + 'width:' + '100%;'
                                        + 'background-color:' + 'white'">
                                        <option value ="本科" selected>本科</option>
                                        <option value ="硕士">硕士</option>
                                        <option value ="博士">博士</option>
                                    </select>
                                    <!--</div>-->
                                    <div>
                                        <span class="aui-form-input tips" id="background"></span>
                                    </div>
                                </div>
                            </div>

                            <div style="padding-left: 3%;margin-top: -2%">
                                <div class="aui-form-input" style="display: inline-block;
                                width: 30%;color: #004280;position: absolute;margin-top: 10px">
                                    <h5>请选择岗位:</h5>
                                </div>

                                <div style="display: inline-block;width: 60%;margin-left: 35%">
                                    <!--<div class="aui-form-input">-->
                                    <select class="aui-form-control-two"
                                            name="position"
                                            form="info"
                                            th:style="'background:' + 'url(/images/major.png) no-repeat;'
                                        + 'background-size:' + '20px 20px;' + 'height:' + '35px;'
                                        + 'background-position:' + '5px center;' + 'padding-left:' + '25px;'
                                        + 'margin-bottom:' + '6%;' + 'width:' + '100%;'
                                        + 'background-color:' + 'white'">
                                        <option value ="0" selected>01 前台开发工程师</option>
                                        <option value ="1">02 JAVA开发工程师</option>
                                        <option value ="2">03 云平台开发工程师</option>
                                        <option value ="3">04 软件测试</option>
                                        <option value ="4">05 软件产品经理</option>
                                        <option value ="5">06 云平台应用工程师</option>
                                    </select>
                                    <!--</div>-->
                                    <div>
                                        <span class="aui-form-input tips" id="position"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="aui-form-group clear" style="margin-top: -7%">
                                <div class="aui-form-input">
                                    <textarea style="background-color: white" class="aui-form-control" name="description" id="7" minlength="5">特别说明...</textarea>
                                </div>
                            </div>
                            <div style="margin-left: 5%;margin-top: 2%;display: inline-block">
                                <label style="display: inline-block">
                                    <img style="display:inline-block;width: 25px;height: 25px;vertical-align:middle;padding-left: -2%" th:src="@{/images/up.png}" class="add-img">
                                    <input style="display:inline-block;opacity: 0;width:1px;vertical-align:middle" class="myFileUpload" type="file" name="file"/>
                                    <h5 style="display:inline-block;color: #004280">添加附件(word简历)</h5>
                                </label>
                                <div style="display: inline-block;margin-left: 5px">
                                    <span style="display:inline-block;color: white;" class="show"></span>
                                </div>
                            </div>
                            <div id="bottom" align=center style="transform:scale(0.6,0.6);
                        font-size: 32px;font-weight: bold;margin-top: -5%">
                                <input type="submit"
                                       value="确认提交"
                                       th:style="'background:'
                                    + 'url(/images/send.png) no-repeat;'
                                    + 'height:' + '83px;' + 'width:' + '286px;'
                                    + 'border-width:' + '0px;' + 'padding-bottom:' + '5px'">
                                </input>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!--<div class="arrow-box">-->
        <!--<img th:src="@{/images/arrow.png}" id="array">-->
    <!--</div>-->
    <!--<div class="swiper-pagination"></div>-->
</div>
<script th:src="@{/js/code.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:inline="javascript">

    // function sub(){
    //     $.ajax({
    //         type:"post",
    //         url:"@{/save}",
    //         data:$("#formApply").serialize(),
    //         success: function (data) {
    //             // window.location.reload();
    //         }
    //     })
    // }
    function wxShare() {
        alert("Thanks!");
    };

    $(function() {
        $(".myFileUpload").change(function() {
            var arrs=$(this).val().split('\\');
            var filename=arrs[arrs.length-1];
            // alert(filename.length)
            if (filename.length > 14) {
                alert("文件名过长，请修改后上传！");
                return;
            }
            $(".show").html(filename);
        });
        play_music();
    });
    function play_music(){
        if ($('#mc_play').hasClass('on')){
            $('#mc_play audio').get(0).pause();
            $('#mc_play').attr('class','stop');
        }else{
            $('#mc_play audio').get(0).play();
            $('#mc_play').attr('class','on');
        }
        // $('#music_play_filter').hide();
        // event.stopPropagation(); //阻止冒泡
    };
    function just_play(id){
        $('#mc_play audio').get(0).play();
        $('#mc_play').attr('class','on');
        if (typeof(id)!='undefined'){
            // $('#music_play_filter').hide();
        }
        // event.stopPropagation(); //阻止冒泡
    };
    function is_weixn(){
        return false;
        var ua = navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i)=="micromessenger") {
            return true;
        } else {
            return false;
        }
    };
    var play_filter=document.getElementById('music_play_filter');
    play_filter.addEventListener('click', function(){
        just_play(1);
    });
    play_filter.addEventListener('touchstart', function(){
        just_play(1);
    });
    play_filter.addEventListener('touchend', function(){
        just_play(1);
    });
    play_filter.addEventListener('touchmove', function(){
        just_play(1);
    });
    play_filter.addEventListener('mousedown', function(){
        just_play(1);
    });
    play_filter.addEventListener('mouseup', function(){
        just_play(1);
    });
    play_filter.addEventListener('mousemove',function(){
        just_play(1);
    });
    window.onload=function(){
        if (!is_weixn()){
            just_play();
        }
    }

    //验证姓名
    function checkName(){
        na=info.name.value;
        if( na.length < 2 || na.length > 4) {
            $('#1')[0].style.border="1px solid red";
            devname.innerHTML='<font class="tips_false">长度是2~4个字符</font>';
        }else{
            $('#1')[0].style.border="1px solid green";
            devname.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证手机号码
    function checkPhone(){
        na=info.phone.value;
        if( na.length < 11 || na.length > 11){
            $('#3')[0].style.border="1px solid red";
            phone.innerHTML='<font class="tips_false">必须是11位数字</font>';
        }else{
            $('#3')[0].style.border="1px solid green";
            phone.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证身份证号
    function checkCredit(){
        na=info.credit.value;
        if( na.length < 18 || na.length > 18){
            $('#2')[0].style.border="1px solid red";
            credit.innerHTML='<font class="tips_false">必须是18位身份证号</font>';
        }else{
            $('#2')[0].style.border="1px solid green";
            credit.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证邮箱
    function checkEmail(){
        na=info.email.value;
        if( na.length < 13 || na.indexOf("@") == -1){
            $('#4')[0].style.border="1px solid red";
            email.innerHTML='<font class="tips_false">必须是正确的邮箱格式</font>';
        }else{
            $('#4')[0].style.border="1px solid green";
            email.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证学校
    function checkSchool(){
        na=info.school.value;
        if( na.length < 4 || na.length > 10){
            $('#5')[0].style.border="1px solid red";
            school.innerHTML='<font class="tips_false">字符在4~10之间</font>';
        }else{
            $('#5')[0].style.border="1px solid green";
            school.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证专业
    function checkMajor(){
        na=info.major.value;
        if( na.length < 4 || na.length > 10){
            $('#6')[0].style.border="1px solid red";
            major.innerHTML='<font class="tips_false">字符在4~10之间</font>';
        }else{
            $('#6')[0].style.border="1px solid green";
            major.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }

</script>
</body>
</html>