<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>2018研华科技软件园招聘-校园招聘网站</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/swiper.min.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{css/home.css}">
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="bookmark" href="../static/images/favicon.ico" />
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/swiper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/swiper.animate.min.js}"></script>

    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="swiper-container" id="swiper-container-v">

    <section class="poster_wrap load" id="load">
        <div class="p_loading">
            <div class="p_loading_logo"></div>
            <p class="p_loading_tip">美满人生，从新工作开始</p>
        </div>
    </section>

    <div class="swiper-wrapper">
        <section class="swiper-slide swiper-slide6 swiper-slide-v">
            <!--<div class="logo ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.3s"-->
                 <!--swiper-animate-delay="0s">-->
                <!--<div class="box1">-->
                    <!--<div class="box2">-->
                        <!--<img class="box3" th:attr="src=@{/upload/wzp_logo.png}">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div style="width: 90%;position: relative;left: 5%">
                <div style="height:20px;"></div>
                <div class="aui-content-up">
                    <form id="info" method="post" name="info" th:action="@{/save}">
                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <input th:style="'background:' + 'url(/images/person.png) no-repeat;' + 'background-size:' + '20px 20px;' + 'height:' + '30px;' + 'background-position:' + '5px center;' + 'padding-left:' + '40px;' + 'margin-bottom:' + '6%'"
                                       type="text" class="aui-form-control-two"
                                       name="name" onBlur="checkName()" required id="1" placeholder="姓 名">
                            </div>
                            <div style="margin-top: -13px">
                                <span class="aui-form-input tips" id="devname"></span>
                            </div>
                        </div>
                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <input  th:style="'background:' + 'url(/images/phone.png) no-repeat;' + 'background-size:' + '20px 20px;' + 'height:' + '30px;' + 'background-position:' + '5px center;' + 'padding-left:' + '40px;' + 'margin-bottom:' + '6%'"
                                        type="text" class="aui-form-control-two"
                                        name="phone" id="2" placeholder="手机号码" onBlur="checkPhone()" required/>
                            </div>
                            <div style="margin-top: -13px">
                                <span class="aui-form-input tips" id="phone"></span>
                            </div>
                        </div>
                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <input  th:style="'background:' + 'url(/images/credit.png) no-repeat;' + 'background-size:' + '20px 20px;' + 'height:' + '30px;' + 'background-position:' + '5px center;' + 'padding-left:' + '40px;' + 'margin-bottom:' + '6%'"
                                        type="text" class="aui-form-control-two" name="credit" id="3" placeholder="身份证号" onBlur="checkCredit()" required/>
                            </div>
                            <div style="margin-top: -13px">
                                <span class="aui-form-input tips" id="credit"></span>
                            </div>
                        </div>
                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <input  th:style="'background:' + 'url(/images/email.png) no-repeat;' + 'background-size:' + '20px 20px;' + 'height:' + '30px;' + 'background-position:' + '5px center;' + 'padding-left:' + '40px;' + 'margin-bottom:' + '6%'"
                                        type="text" class="aui-form-control-two" name="email" id="4" placeholder="电子邮箱" onBlur="checkEmail()" required/>
                            </div>
                            <div style="margin-top: -13px">
                                <span class="aui-form-input tips" id="email"></span>
                            </div>
                        </div>
                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <input  th:style="'background:' + 'url(/images/school.png) no-repeat;' + 'background-size:' + '20px 20px;' + 'height:' + '30px;' + 'background-position:' + '5px center;' + 'padding-left:' + '40px;' + 'margin-bottom:' + '6%'"
                                        type="text" class="aui-form-control-two" name="school" id="5" placeholder="毕业院校" onBlur="checkSchool()" required/>
                            </div>
                            <div style="margin-top: -13px">
                                <span class="aui-form-input tips" id="school"></span>
                            </div>
                        </div>
                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <input  th:style="'background:' + 'url(/images/major.png) no-repeat;' + 'background-size:' + '20px 20px;' + 'height:' + '30px;' + 'background-position:' + '5px center;' + 'padding-left:' + '40px;' + 'margin-bottom:' + '6%'"
                                        type="text" class="aui-form-control-two" name="major" id="6" placeholder="专 业" onBlur="checkMajor()" required/>
                            </div>
                            <div style="margin-top: -13px">
                                <span class="aui-form-input tips" id="major"></span>
                            </div>
                        </div>
                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <textarea class="aui-form-control" name="description" id="7" minlength="5">特别说明...</textarea>
                            </div>
                        </div>

                        <input type="submit"
                               class="btn btn-primary"
                               style="width: 70%; margin-left:15%; position: relative;margin-top:10%">
                        </input>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
<script th:src="@{/js/code.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{js/up.js}"></script>
<script type="text/javascript">
    //验证姓名
    function checkName(){
        na=info.name.value;
        if( na.length < 2 || na.length > 4) {
            $('#1')[0].style.border="1px solid red";
            devname.innerHTML='<font class="tips_false">长度是2~4个字符</font>';
        }else{
            $('#1')[0].style.border="1px solid green";
            devname.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证手机号码
    function checkPhone(){
        na=info.phone.value;
        if( na.length < 11 || na.length > 11){
            $('#2')[0].style.border="1px solid red";
            phone.innerHTML='<font class="tips_false">必须是11位数字</font>';
        }else{
            $('#2')[0].style.border="1px solid green";
            phone.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证身份证号
    function checkCredit(){
        na=info.credit.value;
        if( na.length < 18 || na.length > 18){
            $('#3')[0].style.border="1px solid red";
            credit.innerHTML='<font class="tips_false">必须是18位身份证号</font>';
        }else{
            $('#3')[0].style.border="1px solid green";
            credit.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证邮箱
    function checkEmail(){
        na=info.email.value;
        if( na.length < 13 || na.indexOf("@") == -1){
            $('#4')[0].style.border="1px solid red";
            email.innerHTML='<font class="tips_false">必须是正确的邮箱格式</font>';
        }else{
            $('#4')[0].style.border="1px solid green";
            email.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证学校
    function checkSchool(){
        na=info.school.value;
        if( na.length < 4 || na.length > 10){
            $('#5')[0].style.border="1px solid red";
            school.innerHTML='<font class="tips_false">字符在4~10之间</font>';
        }else{
            $('#5')[0].style.border="1px solid green";
            school.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }
    //验证专业
    function checkMajor(){
        na=info.major.value;
        if( na.length < 4 || na.length > 10){
            $('#6')[0].style.border="1px solid red";
            major.innerHTML='<font class="tips_false">字符在4~10之间</font>';
        }else{
            $('#6')[0].style.border="1px solid green";
            major.innerHTML='<font class="tips_true">验证通过</font>';
        }
    }

</script>
</body>
</html>

